@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: black;
    --accent-color: #2091F9;
    --title-font-size: 48px;
    --sub-title-font-size: 28px;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--main-color);
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 380px;
    margin: auto;
}