 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');

html{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
position: relative;
width: 418px;
height: 11640.77px;
background: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}