@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: black;
    --accent-color: #2091F9;
    --title-color: #252B42;
    --text-color: #374754;
    --light-text-color: #FFFFFF;
    --input-form-background-color: #F4F4F4;
    --border-color: #E8E8E8;
    --title-font-size: 42px;
    --sub-title-font-size: 26px;
    --small-elements-font-size: 18px;
    --button-text-font-size: 20px;
    --input-form-font-size: 12px;
    --medium-font-size: 14px;
    --huge-numbers-font-size: 70px;
    --background-color: #252B42;
    font-family: 'Nunito Sans', sans-serif; 
    color: var(--main-color);
    scroll-behavior: smooth;
}

img {
    display: block;
    width: 100%;
}

.try-button {
    background-color: var(--accent-color);
    color: var(--light-text-color);
    font-size: var(--button-text-font-size);
    font-weight: 700;
    text-decoration: none;
    width: 236px;
    height: 52px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 11px 0px;
    border-radius: 35px;
    margin: 69px auto;
}