.header {
    background-image: url(../img/background-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}

.header-logo {
    width: 186px;
    height: 69px;
    padding-left: 12px;
    padding-top: 10px;
}

.header-title {
    color: var(--light-text-color);
    font-size: var(--title-font-size);
    font-weight: 400;
    text-align: center;
    line-height: 45px;
    letter-spacing: 0.2px;
    padding-top: 150px;
}

.header__text {
    color: var(--light-text-color);
    font-size: var(--sub-title-font-size);
    font-weight: 300;
    letter-spacing: 0.2px;
    padding: 22px 32px 0 32px;
    text-align: center;
    line-height: 40px;
}