.trial__encouragement {
    font-weight: 400;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    margin: auto;
    width: 310px;
    font-family: 'Nunito Sans', sans-serif; 
}

.encouragement__title {
    color: var(--title-color);
    font-size: var(--title-font-size);
    font-weight: 400;
    text-align: center;
    line-height: 45px;
    letter-spacing: 0.2px;
    padding-bottom: 27px;
    font-family: 'Nunito Sans', sans-serif; 
}

.encouragement__text {
    color: var(--text-color);
    font-size: var(--sub-title-font-size);
    font-weight: 400;
    text-align: center;
    padding-bottom: 27px;
    font-family: 'Nunito Sans', sans-serif; 
}